
server {
        listen 80;

         # prevents 502 bad gateway error
        large_client_header_buffers 8 32k;

        server_name ~(\w)\.neols\.com;

        location /{


                # prevents 502 bad gateway error
                proxy_buffers 8 32k;
                proxy_buffer_size 64k;

                
                if ($host ~ (example)\.neols\.com){
                        proxy_pass http://example.neols.com:8800;
                }
	        	if ($host ~ (example1)\.neols\.com){
                        proxy_pass http://example1.neols.com:8801;
                }
                if ($host ~ (example2)\.neols\.com){
                        proxy_pass http://example2.neols.com:8802;
                }
                if ($host ~ (example3)\.neols\.com){
                        proxy_pass http://example3.neols.com:8803;
                }
                if ($host ~ (example4)\.neols\.com){
                        proxy_pass http://example4.neols.com:8804;
                }

                 # enables WS support
                proxy_http_version 1.1;
                proxy_set_header Upgrade $http_upgrade;

        }        
}

